.sidebar {
  padding: 19px 24px 0px;
  .close {
    text-align: right;
    button {
      background: transparent;
      color: white;
      border: none;
      cursor: pointer;
      width: 40px;
    }
  }
  form {
    margin-top: 20px;
    display: flex;
    button {
      background: #3C47E9;
      color: white;
      border: none;
      margin-left: 12px;
      min-width: 100px;
    }
  }
  input {
    border: 1px solid #E7E7EB;
    background: transparent;
    color: white;
    height: 48px;
    padding: 10px;
    width: 70%;
    border-radius: 5px;
  }
  .results {
    margin-top: 54px;
    overflow-y: scroll;
    max-height: 716px;
    .item {
      padding: 23px 12px;
      cursor: pointer;
    }
    .item:hover {
      border: 1px solid #616475;
    }
  }
}